div#scan-page {
    overflow-x: hidden;
    margin-top: 80px;
}

div#scan-page .card {
    background-color: var(--bg2);
    border-radius: 1.5em;
    transition: background-color .1s, box-shadow .1s;
    cursor: pointer;
    position: relative;
    width: 9em;
    height: 9em;
    border: .2em solid transparent;
}
div#scan-page .card.active {
    border: .2em solid var(--accent);
    cursor: default;
}
div#scan-page .card:hover:not(.active) {
    background-color: var(--bg2-hover);
    transition: background-color .1s, box-shadow .1s;
}
div#scan-page .card:active:not(.active) {
    background-color: var(--bg2-active);
    transition: background-color .1s, box-shadow .1s;
}

div#scan-page div.settings {
    width: 50%;
    margin-left: 50vw;
    min-height: calc(100vh - 80px);
    border-left: 3px solid var(--bg2);
    display: flex;
    flex-direction: column;
}

div#scan-page section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    padding: 2em;
}
div#scan-page section:not(:last-child) {
    border-bottom: 3px solid var(--bg2);
}

div#scan-page section div.section-title {
    font-weight: 900;
    font-size: 2em;
    letter-spacing: 0;
    line-height: 1em;
    text-align: center;
}


@media (max-width: 1700px) {

    div#scan-page div.settings {
        font-size: 1.2vw;
    }

}

@media (max-width: 100vh) {

    div#scan-page div.settings {
        margin-left: 0;
        margin-top: 40vh;
        width: 100%;
        height: 50%;
        border-left: none;
        min-height: unset;
    }

    div#scan-page div.settings {
        font-size: 2.4vw;
    }

}

@media (max-width: 500px) {

    div#scan-page {
        margin-top: 120px;
    }

}
