section#convert { 
    display: flex;
    align-items: center;
    position: relative;
}

section#convert div.left,
section#convert div.right {
    height: 100%;
}

section#convert div.left {
    width: min(50vw, 80vh);
    height: min(50vw, 80vh);
    display: flex;
    padding: 2em;
    padding-right: 0;
    gap: 0;
    flex-direction: row;
}

section#convert button.image {
    width: 100%;
    height: 100%;
    background: none;
    background-position: center;
    background-size: cover;
    scale: 0.8;
    box-shadow: 0 0 50px #0008;
    transition: .2s scale;
}

section#convert button.image.active {
    scale: 1;
}

section#convert div.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    align-items: center;
    flex-grow: 1;
    width: fit-content;
    height: fit-content;
    flex-shrink: 0;
    padding: 2em;
}

section#convert div.right div.message {
    font-weight: 800;
    font-size: 2em;
    letter-spacing: 0;
    line-height: 1.2em;
    text-align: center;
}


@media (max-width: 1300px) {

    section#convert {
        font-size: .8em;
    }

}

@media (max-width: 800px) {

    section#convert {
        flex-direction: column;
        font-size: min(1em, 4vw, 3vh);
        position: relative;
    }

    section#convert div.right {
        right: auto;
        padding: 3em;
        border-radius: 2.5em;
        position: absolute;
        bottom: 0;
    }

    section#convert div.left {
        width: 100%;
        padding: 2em;
        width: min(100vw, 50vh);
        height: min(100vw, 50vh);
        margin-bottom: 30vh;
    }

}
