section#convert { 
    display: flex;
    align-items: center;
    position: relative;
    overflow-x: hidden;
}

section#convert div.left,
section#convert div.right {
    height: 100%;
}

section#convert div.left {
    width: min(50vw, 80vh);
    height: min(50vw, 80vh);
    display: flex;
    padding: 2em;
    padding-right: 0;
    gap: 0;
    flex-direction: row;
    perspective: 1000px;
}

section#convert button.image {
    width: 100%;
    height: 100%;
    background: none;
    background-position: center;
    background-size: cover;
    scale: 0.8;
    transition: .2s scale;
    border: .2em solid var(--fg);
    border-radius: 3em;
}

section#convert button.image:nth-child(1) {
    opacity: 0;
    animation: left-image-appear .5s ease-out .2s forwards;
}

section#convert button.image:nth-child(2) {
    /* box-shadow: 0 0 10em #fff3; */
    z-index: 50;
    opacity: 0;
    animation: center-image-appear .5s ease-out forwards;
    scale: 0.9;
}

section#convert button.image:nth-child(3) {
    opacity: 0;
    animation: right-image-appear .5s ease-out .2s forwards;
}

section#convert div.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    align-items: center;
    flex-grow: 1;
    width: fit-content;
    height: fit-content;
    flex-shrink: 0;
    padding: 2em;
    opacity: 0;
    animation: convert-message-appear 1s ease-out .5s forwards;
}

section#convert div.right div.message {
    font-weight: 800;
    font-size: 2em;
    letter-spacing: 0;
    line-height: 1.2em;
    text-align: center;
}


@media (max-width: 1300px) {

    section#convert {
        font-size: .8em;
    }

}

@media (max-width: 1000px) {

    section#convert button.image {
        border-radius: 2em;
    }
    
}

@media (max-width: 800px) {

    section#convert {
        flex-direction: column;
        font-size: min(1em, 4vw, 3vh);
    }

    section#convert div.right {
        right: auto;
        padding: 3em;
        border-radius: 2.5em;
        bottom: 0;
        padding-top: 0;
    }

    section#convert div.left {
        width: 100%;
        padding: 2em;
        width: min(100vw, 50vh);
        height: min(100vw, 50vh);
    }

}


@keyframes left-image-appear {

    from {
        /* transform: translateY(3em) rotateY(60deg); */
    }

    to {
        opacity: 1;
        /* transform: rotateY(30deg); */
    }

}


@keyframes center-image-appear {

    from {
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }

}


@keyframes right-image-appear {

    from {
        /* transform: translateY(-3em) rotateY(-60deg); */
    }

    to {
        opacity: 1;
        /* transform: rotateY(-30deg); */
    }

}


@keyframes convert-message-appear {

    from {
        /* transform: translateX(100%); */
    }

    to {
        opacity: 1;
    }

}
