div#map-view {
    height: calc(100vh - 80px);
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 80px;
    left: 0;
    padding: 2em;
    flex-direction: column;
    background-color: var(--bg);
    z-index: 100;
    font-size: min(1.2vw, 2.4vh);
    z-index: 50;
}
div#map-view:has(label.initial-upload) {
    padding: 0;
}

div#map-view div#canvas-container {
    position: relative;
    height: fit-content;
}

div#map-view div#canvas-container canvas#image-canvas {
    border: .2em solid var(--fg);
    image-rendering: pixelated;
    object-fit: contain;
}

div#map-view div#canvas-container div#image-grid {
    display: grid;
    grid-template-columns: repeat(var(--width), 1fr);
    position: absolute;
    top: .2em;
    left: .2em;
    width: calc(100% - .4em);
    height: calc(100% - .4em - 4px);
}

div#map-view div#canvas-container div#image-grid div {
    border: .05em solid #f00;
}

div#map-view div#generating-preview {
    width: 100%;
    height: 100%;
    color: var(--bg2-active);
    background-color: var(--bg2);
    display: flex;
    align-items: center;
    justify-content: center;
    border: .2em solid var(--fg);
    width: min(25em, calc(25em * var(--aspect-ratio)));
    height: min(25em, calc(25em / var(--aspect-ratio)));
}

div#map-view div#generating-preview div.loading {
    width: calc(min(var(--aspect-ratio), 1 / var(--aspect-ratio)) * 25em / 2);
    height: calc(min(var(--aspect-ratio), 1 / var(--aspect-ratio)) * 25em / 2);
    border-radius: 100%;
    background: conic-gradient(transparent 0deg, var(--fg) 359deg);
    position: relative;
    animation: rotate 1s infinite linear;
}
div#map-view div#generating-preview div.loading::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    background-color: var(--bg2-solid);
    border-radius: 100%;
}

div#map-view div.icons {
    display: flex;
    gap: 1.5em;
    margin-top: 1.5em;
}

div#map-view div.icons .icon {
    font-size: 20px;
    background-color: var(--bg2);
    padding: .5em;
    border-radius: 1em;
    cursor: pointer;
    transition: background-color .1s;
    width: 3em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}
div#map-view div.icons .icon:disabled {
    cursor: default;
}
div#map-view div.icons .icon:hover:not(:disabled) {
    background-color: var(--bg2-hover);
    transition: background-color .1s;
}
div#map-view div.icons .icon:active:not(:disabled) {
    background-color: var(--bg2-active);
    transition: background-color .1s;
}

div#map-view div.icons .icon svg {
    width: 100%;
    height: 100%;
}

div#map-view div.icons .icon svg path {
    stroke: var(--fg);
}
div#map-view div.icons .icon:disabled svg path {
    stroke: var(--bg2-active);
}

div#map-view label.initial-upload {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--bg2-active);
    font-size: 2em;
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition: background-color .3s;
}
div#map-view label.initial-upload:active {
    background-color: var(--bg2);
    transition: background-color .3s;
}

div#map-view label.initial-upload svg {
    width: 3em;
    height: 3em;
}

div#map-view label.initial-upload svg path {
    stroke: var(--bg2-active);
    transition: stroke .3s;
}
div#map-view label.initial-upload:hover svg path {
    stroke: var(--fg);
    transition: stroke .3s;
}

div#map-view label.initial-upload div.text {
    font-weight: 800;
    color: var(--bg2-active);
    transition: color .3s;
}
div#map-view label.initial-upload:hover div.text {
    color: var(--fg);
    transition: color .3s;
}


@keyframes rotate {
    
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }

}


@media (max-width: 100vh) {

    div#map-view {
        width: 100vw;
        height: 40vh;
        border-bottom: 3px solid var(--bg2);
        font-size: min(2.4vw, .96vh);
    }

}

@media (max-width: 600px) {

    div#map-view div.icons .icon {
        font-size: 15px;
    }

}

@media (max-width: 500px) {

    div#map-view {
        top: 120px;
    }

}
