header#header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: color-mix(in srgb, var(--bg) 50%, #000 50%);
    padding: 1em;
    gap: 1em;
}

header#header img {
    height: 2em;
}

header#header div.title {
    /* background-image: linear-gradient(60deg, var(--color1-light), var(--color2-light));
    color: transparent;
    background-clip: text; */
    color: #cf36bd;
    font-size: 2em;
}

footer#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: color-mix(in srgb, var(--bg) 50%, #000 50%);
    padding: 1em;
}

footer#footer div.info {
    color: color-mix(in srgb, var(--text) 50%, transparent 50%);
    font-size: 1em;
    font-weight: 500;
}


@media (max-width: 1000px) {

    div#home-page {
        font-size: .75em;
    }

    footer#footer div.info {
        font-size: .8em;
    }

}
