div#home-page {
    margin-top: 80px;
}


@media (max-width: 1000px) {

    div#home-page {
        font-size: .75em;
    }

}

@media (max-width: 500px) {

    div#home-page {
        margin-top: 120px;
    }

}
