header#header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    background: #000;
    padding: 1em;
    gap: 1em;
    z-index: 100;
    height: 80px;
}

header#header div.left {
    display: flex;
    gap: 1em;
    align-items: center;
}

header#header div.left img {
    height: 2em;
}

header#header div.left div.title {
    color: var(--accent);
    font-size: 1.5em;
    font-weight: 600;
}

header#header nav#nav {
    display: flex;
    gap: .5em;
    align-items: center;
}

header#header nav#nav a {
    color: var(--fg2);
    padding: .5em 1em;
    border-radius: .5em;
    transition: .2s background-color, .2s color;
    text-transform: capitalize;
}

header#header nav#nav a:hover {
    background-color: var(--bg);
}

header#header nav#nav a.active {
    color: var(--fg);
    background-color: var(--bg);
}


@media (max-width: 900px) {

    header#header {
        justify-content: space-between;
    }

    header#header div.left div.title {
        display: none;
    }

}
