header#header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    background: #000;
    padding: 1em;
    gap: 1em;
    z-index: 100;
    height: 80px;
}

header#header div.left {
    display: flex;
    align-items: center;
}

header#header div.left img {
    height: 2em;
    opacity: 0;
    animation: appear .5s ease-out forwards;
}

header#header div.left div.title-wrapper {
    width: fit-content;
    overflow-x: hidden;
    padding-left: 1em;
}

header#header div.left div.title {
    color: var(--accent);
    font-size: 1.75em;
    font-weight: 600;
    opacity: 0;
    animation: title-appear .5s ease-out forwards;
}

header#header nav#nav {
    display: flex;
    gap: .5em;
    align-items: center;
}

header#header nav#nav a {
    color: var(--fg2);
    padding: .5em 1em;
    border-radius: .75em;
    transition: .2s background-color, .2s color;
    text-transform: capitalize;
    opacity: 0;
    animation: appear .5s ease-out forwards;
}
header#header nav#nav a:nth-child(1) {animation-delay: 0.3s;}
header#header nav#nav a:nth-child(2) {animation-delay: 0.4s;}
header#header nav#nav a:nth-child(3) {animation-delay: 0.5s;}
header#header nav#nav a:nth-child(4) {animation-delay: 0.6s;}

header#header nav#nav a:hover {
    background-color: var(--bg);
}

header#header nav#nav a.active {
    color: var(--fg);
    background-color: var(--bg);
}


@media (max-width: 900px) {

    header#header {
        justify-content: space-between;
    }

    header#header div.left div.title {
        display: none;
    }

}


@media (max-width: 500px) {

    header#header {
        flex-direction: column;
        height: 120px;
        justify-content: space-between;
        font-size: .8em;
    }

    header#header div.left div.title {
        display: block;
    }

}


@keyframes appear {

    to {
        opacity: 1;
    }

}


@keyframes title-appear {

    from {
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
    }

}
