.theme-button {
    cursor: pointer;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: .67em 1em;
    border-radius: .75em;
    background: var(--accent);
    border: none;
    font-weight: 700;
    font-size: 1.5em;
    color: inherit;
    transition: .2s background-color, .2s box-shadow;
    color: var(--fg);
}

.theme-button.disabled {
    background: var(--bg2-hover);
    cursor: not-allowed;
}

.theme-button:not(.disabled):hover {
    box-shadow: 0 0 .5em var(--accent);
    background-color: var(--accent-light);
}

.theme-button:not(.disabled):active {
    background-color: var(--accent-dark);
    box-shadow: none;
}

.theme-button svg {
    width: .5em;
    margin-left: .5em;
    fill: var(--fg);
}
