footer#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: hsl(240deg, 10%, 10%);
    padding: 20px;
    color: color-mix(in srgb, var(--fg) 50%, transparent 50%);
    font-size: 15px;
    font-weight: 500;
    gap: 10px;
    text-align: center;
    line-height: 1.5;
}

footer#footer div.copyright,
footer#footer div.copyright > span,
footer#footer div.copyright > a {
    display: inline-flex;
    gap: 7px;
    align-items: center;
    line-height: 1;
}
footer#footer div.copyright > span {
    gap: 5px;
    font-weight: bold;
}
footer#footer div.copyright > a {
    gap: 5px;
    text-decoration: none;
    font-weight: bold;
}

footer#footer svg,
footer#footer img {
    width: 20px;
    height: 20px;
}

footer#footer svg.logo,
footer#footer span.website-name {
    color: var(--accent);
}

footer#footer span.author-name {
    color: #ff5555;
    /* text-decoration: underline; */
}
footer#footer span.author-name:hover {
    text-decoration: underline;
}

footer#footer a {
    color: inherit;
}

footer#footer a:hover {
    text-decoration: underline;
    color: var(--link);
}

footer#footer div.links {
    display: flex;
    gap: 15px;
}


@media (max-width: 1000px) {

    footer#footer {
        font-size: 10px;
    }

    footer#footer div.copyright {
        gap: 5px;
    }

    footer#footer svg {
        width: 15px;
        height: 15px;
    }
    footer#footer img {
        width: 17px;
        height: 17px;
    }

    footer#footer div.copyright > span {
        gap: 3px;
    }
    footer#footer div.copyright > a {
        gap: 2px;
    }

}
