section#map-size div.recommended {
    display: grid;
    grid-template-columns: repeat(var(--width), 1fr);
    gap: .75em;
}

section#map-size div.recommended div.option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

section#map-size div.recommended div.option div.item-frames {
    display: grid;
    width: fit-content;
}

section#map-size div.recommended div.option div.size {
    position: absolute;
    bottom: .3em;
}
