section#scan {
    height: min(80vh, 100vw);
    display: flex;
    overflow: hidden;
    position: relative;
}

section#scan div.left {
    width: max(800px, 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

section#scan div.left div.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg);
    /* backdrop-filter: blur(1em); */
    gap: 1em;
    border-radius: 2.5em;
    padding: 3em;
    z-index: 2;
    position: relative;
}

section#scan div.left div.content div.message {
    font-weight: 900;
    font-size: 2em;
    letter-spacing: 0;
    line-height: 1.2em;
    text-align: center;
}

section#scan div.image {
    background-image: url("../../../assets/bermudsk_map.png");
    background-size: cover;
    background-position: center;
    image-rendering: pixelated;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* transform: translateY(-50%); */
    z-index: 0;
    /* border-radius: 2em; */
}

section#scan div.new {
    position: absolute;
    top: 1.5em;
    left: .5em;
    transform: rotate(-45deg);
    font-weight: 700;
    font-size: 1.5em;
    color: var(--accent);
    animation: bounce 1s ease-in-out infinite;
}


@media (max-width: 1300px) {

    section#scan div.left {
        font-size: .8em;
    }

}

@media (max-width: 1000px) {

    section#scan div.left {
        width: 100%;
        font-size: min(1em, 4vw, 3vh);
    }

}

@keyframes bounce {

    0% {
        scale: 0.8;
    }

    50% {
        scale: 1;
    }

    100% {
        scale: 0.8;
    }

}
