:root {
    /* --bg: #1e2128; */
    --bg: hsl(240deg, 10%, 15%);
    --fg: hsl(240deg, 10%, 95%);
    --fg2: hsl(240deg, 10%, 70%);
    --link: #7c6aff;
    --bg2: color-mix(in srgb, var(--fg) 10%, transparent 90%);
    --bg2-solid: color-mix(in srgb, var(--fg) 10%, var(--bg) 90%);
    --bg2-hover: color-mix(in srgb, var(--fg) 15%, transparent 85%);
    --bg2-active: color-mix(in srgb, var(--fg) 20%, transparent 80%);
    --accent: #dd368f;
    --accent-light: color-mix(in srgb, var(--accent), #fff 25%);
    --accent-dark: color-mix(in srgb, var(--accent), #000 25%);
}

div#root {
    font-family: Verdana;
    color: var(--fg);
    background-color: var(--bg);
    min-height: calc(100vh - 80px);
    position: relative;
    font-size: 20px;
}


@media (max-width: 500px) {

    div#root {
        min-height: calc(100vh - 120px);
    }
    
}
