@property --color1 {
    syntax: "<color>";
    initial-value: #dd368f;
    inherits: false;
}

@property --color2 {
    syntax: "<color>";
    initial-value: #c036ea;
    inherits: false;
}

:root {
    --bg: #1e2128;
    --text: #fff;
    --link: #7c6aff;
    --bg2: color-mix(in srgb, var(--text) 10%, transparent 90%);
    --bg2-solid: color-mix(in srgb, var(--text) 10%, var(--bg) 90%);
    --bg2-hover: color-mix(in srgb, var(--text) 15%, transparent 85%);
    --bg2-active: color-mix(in srgb, var(--text) 20%, transparent 80%);
    --color-mix: color-mix(in srgb, var(--color1) 50%, var(--color2) 50%);
    --color1-light: color-mix(in srgb, var(--color1), #fff 25%);
    --color2-light: color-mix(in srgb, var(--color2), #fff 25%);
    --color1-dark: color-mix(in srgb, var(--color1), #000 25%);
    --color2-dark: color-mix(in srgb, var(--color2), #000 25%);
}

div#root {
    font-family: Verdana;
    color: #fff;
    background-color: var(--bg);
    min-height: 100vh;
    position: relative;
    font-size: 20px;
}
