section#minecraft-version div.options {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .75em;
}

section#minecraft-version div.options div.option {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    position: relative;
}
section#minecraft-version div.options div.option::before {
    background-image: url("../../../assets/minecraft_logo.svg");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
}

section#minecraft-version div.options div.option div.version {
    font-weight: bold;
    font-size: 1.5em;
    z-index: 10;
}

section#minecraft-version div.options div.option div.sep {
    font-size: 2em;
    line-height: .5em;
    z-index: 10;
}
