section#map-size div.recommended {
    display: grid;
    grid-template-columns: repeat(var(--width), 1fr);
    gap: .75em;
}

section#map-size div.recommended div.option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

section#map-size div.recommended div.option div.item-frames {
    display: grid;
    width: fit-content;
}

section#map-size div.recommended div.option div.size {
    position: absolute;
    bottom: .3em;
}

section#map-size div.custom {
    display: flex;
    background: var(--bg2);
    border-radius: .6em;
    gap: .25em;
    align-items: center;
    font-size: 2em;
    position: relative;
    border: .1em solid var(--accent);
}

section#map-size div.custom input {
    background-color: var(--bg);
    font-size: 1em;
    width: 3em;
    color: var(--fg);
    border-radius: .5em;
    padding: .25em .4em;
}
section#map-size div.custom input:first-child {
    text-align: right;
}

section#map-size div.show-grid {
    padding: .5em 1em;
    border-radius: 10em;
    background: var(--bg2);
    cursor: pointer;
    transition: background-color .1s;
}
section#map-size div.show-grid:hover {
    background-color: var(--bg2-hover);
    transition: background-color .1s;
}
section#map-size div.show-grid:active {
    background-color: var(--bg2-active);
    transition: background-color .1s;
}
section#map-size div.show-grid.active {
    background-color: var(--accent);
    transition: background-color .1s;
}
section#map-size div.show-grid.active:hover {
    background-color: var(--accent-light);
}
